/* General styling*/

 ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, body, html, div.paragraph, blockquote, fieldset, input { margin: 0; padding: 0; }
 ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, body, html, p, blockquote, fieldset, input { margin: 0; padding: 0; }
 a img { border: 0; }
 a { text-decoration: none; }
 

html {
	height: 100%;
}

#header {
	text-align: center;
	padding-top: 52px;
	padding-bottom: 25px;
}

body {
	font-family: 'Open sans', sans-serif;
	font-size: 15px;
	color: #8e8e8e;
	min-height: 100%;
	background-color: #f9f9f9;
}

 .landing-page { background-color: #ffffff; }


#sitename a,
#sitename a:link,
#sitename a:visited {
	color: #484848;
	font-family: 'Raleway', sans-serif;
	font-size: 36px;
	text-transform: uppercase;
	background: url('teal_icons.png') -9999px -9999px no-repeat;
}

 a:link, a:visited { color: #5199a8; }
 a:hover { color: #8dc7d3; }

h2 {
	font-family: 'Alice', sans-serif;
	font-size: 26px;
	font-weight: normal;
	color: #484848;
	padding: .3em 0;
}

p,
div.paragraph {
	padding: .5em 0;
}

hr.styled-hr {
	background-color: #d0d0d0;
}


/* wrapper */

.bg-wrapper {
	background-color: #ffffff;
	padding-bottom: 100px;
}
	
#wrapper blockquote {
	border-left: 5px solid #d0d0d0;
	margin-left: 20px;
	padding-left: 20px;
}

#content-wrapper {
	width: 960px;
	margin: auto;
}

/* navigation*/

#navigation {
	padding-bottom: 40px;
	width: 960px;
	margin: auto;
	text-align: center;
	text-transform: uppercase;
	overflow: hidden;
	font-family: 'Raleway', sans-serif;
	font-size: 13px;
}

#navigation ul:before, #navigation ul:after {
    background-color: #d0d0d0;
    content: "";
    display: inline-block;
    height: 1px;
	bottom: .1em;
    position: relative;
    vertical-align: middle;
    width: 50%;
}

#navigation ul:before {
    right: 29px;
    margin-left: -50%;
}

#navigation ul:after {
    left: 29px;
    margin-right: -50%;
}

#navigation li {
	display: inline-block;
}

#navigation li:hover, #navigation li:active {
	background-color: #f6f6f6;
	color: #484848;
}

#navigation a:link, #navigation a:visited {
	display: block;
	color: inherit;
	padding: 10px 14px;
}

#navigation a:hover {
}

.menu li a {
	background-color: #f6f6f6;
	border: none;
	color: #484848;
}

.wsite-menu li a:hover {
	background-color: #e8e8e8;
	color: #484848;
}

 .wsite-button, .wsite-button .wsite-button-inner { color: white; background-image: none !important; background-color: #5199a8; }
 .wsite-button .wsite-button-inner { background-color: inherit; }
 .wsite-button-highlight { background-color: #5199a8; }
 .wsite-button-highlight:hover { background-color: #5cb0c2; }
 .wsite-button-highlight:active { background-color: #44818e; }
 .wsite-button-normal { background-color: #484848; }
 .wsite-button-normal:hover { background-color: #616161; }
 .wsite-button-normal:active { background-color: #303030; }
 
 .galleryCaptionHover .galleryCaptionHolder { height: 100%; opacity: 0; -webkit-transition: opacity 0.2s ease-in-out; -moz-transition: opacity 0.2s ease-in-out; -o-transition: opacity 0.2s ease-in-out; transition: opacity 0.2s ease-in-out; -webkit-backface-visibility: hidden; }
 .partialImageGalleryCaption.galleryCaptionHolder { height: auto; }
 .galleryCaptionHover.galleryImageHolder:hover .galleryCaptionHolder { opacity: 1; }
 .galleryCaptionHolderInner { display: table; height: 100%; }
 .galleryCaptionInnerTextHolder { display: table-cell; vertical-align: middle; }
 
 #content-wrapper #content .galleryImageBorder { border-color: #d0d0d0; }
 #content-wrapper #content .wsite-image-border-hairline a img, #content-wrapper #content .wsite-image-border-thin a img, #content-wrapper #content .wsite-image-border-medium a img, #content-wrapper #content .wsite-image-border-thick a img { border-color: #d0d0d0; }

/* Banner
--------------------------------------------------------------------------------*/

.banner-wrap {
	text-align: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	width: 100%;
}


.wsite-background {background-image: url('//cdn1.editmysite.com/uploads/4/2/9/8/42984565/background-images/84167004.jpg') !important;background-repeat: no-repeat !important;background-position: 50% 0 !important;background-size: auto !important;background-color: transparent !important;background: inherit;}

#banner {
	width: 550px;
	height: 100%;
	margin: auto;
	display: table;
}

#banner-container {
	display: table-cell;
	vertical-align: middle;
}

.banner-wrap a {
	color: #8dc7d3;
}

.banner-wrap a:hover {
	text-decoration: underline;
}

.banner-wrap .button-wrap div {
	text-align: center !important;
}

.banner-wrap .wsite-button-inner {
	font-family: 'Open sans', sans-serif;
	text-transform: uppercase;
	font-size: 15px;
}

#banner h2 {
	font-size: 55px;
	color: white;
	font-weight: bold;
}

#banner p {
	font-size: 20px;
	padding-top: 36px;
	padding-bottom: 45px;
	color: white;
}


/*Short header*/
.short-header .banner-wrap {
	background-image: url(short_header.jpg);
	height: 302px;
	margin-bottom: 20px;
}
