/* Styling*/

html {
	height: 100%;
}

body {
	font-family: 'Open sans', sans-serif;
	font-size: 15px;
	color: #8e8e8e;
	min-height: 100%;
	background-color: #f9f9f9;
}

header {
	text-align: center;
	padding-top: 52px;
	padding-bottom: 25px;
}

/* wrapper */

.bg-wrapper {
	background-color: #ffffff;}
	
wrapper blockquote {
	border-left: 5px solid #d0d0d0;
	margin-left: 20px;
	padding-left: 20px;
}

/* navigation*/

navigation {
	padding-bottom: 40px;
	width: 960px;
	margin: auto;
	text-align: center;
	text-transform: uppercase;
	overflow: hidden;
	font-family: 'Raleway', sans-serif;
	font-size: 13px;
}

navigation li {
	display: inline-block;
}

navigation li:hover,navigation li:active {
	background-color: #f6f6f6;
	color: #484848;
}
